Mathieu LETRONE <mathieu.letrone@etu.univ-nantes.fr>
Nicolas Normand <Nicolas.J.Normand+github@gmail.com>
Ronan COLLIER <ronan.collier@etu.univ-nantes.fr> valorun <ronan@collier-famille.fr>
Ronan COLLIER <ronan.collier@etu.univ-nantes.fr> valorun <valorun@valorun-thinkpad>
valorun <ronan@collier-famille.fr> <valorun@valorun-thinkpad>
Tri-Thien TRUONG <tri-thien.truong@etu.univ-nantes.fr>
